<body>
<div class="nav-bar">
  <button  mat-fab color="dark" class="button-home" onclick="location.href='app.component.html'">
  <mat-icon>home</mat-icon>
</button>
<button mat-fab color="dark" class="button-option">
  <mat-icon>menu</mat-icon>
  <mat-select>
    <mat-option>Lenguaje</mat-option>
    <mat-option>Otra opción...</mat-option>
    <mat-option>Cerrar sesión</mat-option>
  </mat-select>
</button></div>

<br>
<mat-card>
 <div class="balance-general">
   <h1>Bienvenido a nuestro balance general, aquí podrá escoger sus gastos e ingresos fijos de cada mes
  </h1>
  <button mat-raised-button class="button">Ingresos</button>
  <button mat-raised-button class="button">Gastos</button>
 </div> 
</mat-card>
<p>Aqui irá la gráfica :D</p>
</body>
